<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div id="appNavBar"class="container">
            <a style="float: left" href="#" onclick="javascript:navigator.app.clearHistory();"><img src="img/logo.png"
                                                 style="max-height: 48px; max-width: 48px;"></a>

            <!-- todo Backbone.history.start() if pressed-->
            <!--<a class="btn " href="#user">UserView</a>-->
            <!--<a class="btn " href="#users">UsersView</a>-->
            <!--<a class="btn " href="#messageBoard">messageView</a>-->
            <!--<a class="btn " href="#messagesBoard">messagesView</a>-->
            <a style="cursor:pointer; float: right" onclick="javascript:navigator.app.exitApp(); "><img
                    src="http://cdn1.iconfinder.com/data/icons/gis/quit.png" style="height: 48px; width: 48px;"></a>
						<p style="text-align: center">שלום : <b id='sessionUsername'></b> </p>
        </div>
    </div>
</div>

<div class="row-fluid">
        <div id="content" class="container"></div>
</div>

