<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Moshavit</a>
            <a class="brand" href="#user">UserView</a>
            <a class="brand" href="#users">UsersView</a>
            <a class="brand" href="#messageBoard">messageView</a>
            <a class="brand" href="#messagesBoard">messagesView</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6 offset2">
        <div id="content" class="container"></div>
    </div>
</div>

