    

<div class="row">
  <div class="span12">


			<a href="#user">	<img src="http://b.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/male_user.png"
								width="90"></a>
			<a href="#users">	<img src="http://b.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/id_card.png"
								width="90"></a>
			<a href="#messageBoard"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/news.png"
								width="90"></a>
			<a href="#messagesBoard"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/list.png"
								width="90"></a>
<!--<a href="#settings"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/settings.png"-->
								<!--width="90"></a>-->
			<!--<a href="#survey"><img src="http://thumb11.shutterstock.com/photos/thumb_large/52627/52627,1331469942,2.jpg"-->
											<!--width="90"></a>-->

			<a  href="#newmessageBoard" class="btn newMessage">NewMSG</a>

  </div>
</div>

