<div class="row">
    <div class="span12">


        <a href="#user"> <img src="http://b.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/male_user.png"
                              width="90"></a>
        <a href="#users"> <img src="img/ico/Android-Users-48.png" style="max-height: 48px; max-width: 48px;" width="90"></a>
        <a href="#messageBoard"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/news.png"
                ></a>
        <a href="#messagesBoard"><img src="img/ico/Android-Messages-48.png" style="max-height: 48px; max-width: 48px;"
                ></a>
        <!--<a href="#settings"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/settings.png"-->
        <!--width="90"></a>-->
        <!--<a href="#survey"><img src="img/ico/Android-Survey-48.png" ></a>-->
        <!--<a href="#calender"><img src="img/ico/Android-Calendar-48.png" ></a>-->

				<a href="#login" class="btn login">login</a>
				<a href="#newuser" class="btn newuser">New User</a>
        <a href="#newmessageBoard" class="btn newMessage">NewMSG</a>

    </div>
</div>

