<div class="row visible-phone">
    <div class="span12">


        <a href="#user"> <img class="mainIcon" src="img/ico/Android-userProfile-48.png"></a>
        <a href="#users"> <img class="mainIcon" src="img/ico/Android-Users-48.png"></a>
        <a href="#messageBoard"><img class="mainIcon" src="img/ico/Android-Messages-48.png"></a>
        <a href="#messagesBoard"><img class="mainIcon" src="img/ico/Android-Messages-48.png"></a>
        <!--<a href="#settings"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/settings.png"-->
        <!--width="90"></a>-->
        <a href="#survey"><img class="mainIcon" src="img/ico/Android-Survey-48.png"></a>
        <a href="#calender"><img class="mainIcon" src="img/ico/Android-Calendar-48.png"></a>

				<a href="#login" class="btn login">login</a>
				<a href="#newuser" class="btn newuser">New User</a>
        <a href="#newmessageBoard" class="btn newMessage">NewMSG</a>

    </div>
</div>

