<div class="well span12" xmlns="http://www.w3.org/1999/html">
    <div class="input-prepend">
        <label for="username">שם משתמש</label>
        <input id="username" type="text" class="username" value="">
    </div>
    <div class="input-prepend">
        <label for="password">סיסמה</label>
        <input id="password" type="password" class="password" value="">
    </div>
    <div style="text-align: center">
        <button class="btn logoutButton" onclick="$.get( '/api/users/logout')">Logout</button>
        <button class="btn loginButton">Login</button>
        <br><b id="invalidPassword"></b><br>

        <a class=" forgetPasswordButton">Forgot my password</a><!--todo forgot my password-->
    </div>
</div>