<!--<h2>Message View</h2>-->
<div class="well span12">
    <!--subject-->
    <div class="input-prepend">
        <label for="subject">subject</label>
        <input type="text" class="subject" value="">
    </div>
    <!-- author.username -->
    <div class="input-prepend">
        <label for="authorId">author.id</label>
        <input type="text" class="authorId" value="" placeholder="author.id"
               required="required">
    </div>
    <!--message-->
    <div class="input-prepend">
        <label for="messageText">Message</label>
        <textarea type="text" name="message" class="messageText" placeholder="Enter Your Message Here ..."
                ></textarea>
    </div>
    <button class="btn save">Save</button>
</div>