<h2>Message View</h2>

<!--subject-->
<div class="input-prepend">
    <span class="add-on">subject</span>
    <input type="messageText" class="subject input-xlarge" value="" >
</div>
<!-- author.username -->
<div class="input-prepend">
    <span class="add-on">author.username</span>
    <input type="messageText" class="author.username input-xlarge" value="" placeholder="author.username"
           required="required" >
</div>
<!--message-->
<div class="input-prepend">
    <span class="add-on">Message</span>
    <textarea name="message" class="messageText input-xlarge" placeholder="Enter Your Message Here ..."
              ></textarea>
</div>
<button class="btn save">Save</button>