<!--<h2>New User</h2>-->
<div class="well span12">
    <!--UserName-->
    <div class="input-prepend">
        <span class="add-on">UserName</span>
        <input type="text" class="username" value="" >
    </div>
    <!-- E-mail -->
    <div class="input-prepend">
        <span class="add-on">E-Mail</span>
        <input type="email" class="email" value="" placeholder="Email" required="required" >
    </div>
    <!-- First Name -->
    <div class="input-prepend">
        <span class="add-on">FirstName</span>
        <input type="text" class="firstName" value="" placeholder="First name" >
    </div>
    <!-- Last Name -->
    <div class="input-prepend">
        <span class="add-on">LastName</span>
        <input type="text" class="lastName" value="" placeholder="Last name" >
    </div>
    <!-- Membership Type-->
    <div class="input-prepend">
        <span class="add-on">Membership</span>
        <input type="text" class="membership" value="" placeholder="Membership" >
    </div>
		<div class="input-prepend">
      <span class="add-on">password</span>
      <input id="password" type="password" class="password" value="">
  </div>
		<div class="input-prepend">
      <span class="add-on">password Confirm</span>
      <input id="passwordConfirm" type="password" class="password" value="">
  </div>
		<button class="btn clear">Clear</button>
  <button class="btn register">Register</button>
</div>
